@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

.active {
  background-color: #d7ab32;
  color: #ffffff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: "transparent";

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > #image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  border-radius: 50% !important;
  background-color: #ffffff !important;
  color: #808080 !important;
  padding: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-button-next {
  border-radius: 50% !important;
  background-color: #ffffff !important;
  color: #808080 !important;
  padding: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}
.swiper-pagination-bullet {
  width: 70px !important;
  height: 5px !important;
  border-radius: 0 !important;
  background-color: #808080 !important;
}
.swiper-pagination-bullet-active {
  background-color: #d7ab32 !important;
}
.swiper-pagination {
  width: 100% !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}
/* .swiper-wrapper{
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
} */ /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.serviceSection {
  background: linear-gradient(90deg, #a67e2d 0%, #d7ab32 100%);
}

.headingPage {
  @apply font-poppins font-extrabold lg:text-[48px] sm:text-[40px] text-[20px] text-[#D7AB32] lg:leading-[53px] sm:leading-[40px] leading-[20px] mb-6;
}

.heading_2Page {
  @apply font-poppins font-bold xl:text-[50px] md:text-[40px] sm:text-[30px] text-[20px] text-[#D7AB32] xl:leading-[55px] lg:leading-[40px] md:leading-[30px] leading-[20px] sm:text-start text-center lg:mb-14 mb-6;
}

.p_heading {
  @apply font-poppins font-normal lg:text-[25px] sm:text-[19px] text-[12px] text-[#797979] lg:leading-[39px] sm:leading-[25px] leading-[15px] text-center;
}

.p_heading_2 {
  @apply font-poppins font-normal xl:text-[22px] lg:text-[20px] sm:text-[18px] text-[13px] text-[#797979] xl:leading-[40px] lg:leading-[28px] md:leading-[30px] leading-[15px] text-start;
}

.contactForm_label {
  @apply font-poppins font-semibold md:text-[20px] text-[15px] text-[#242331] md:leading-[30px] leading-[20px];
}

.contactForm_input {
  @apply w-full border border-[#D3D3D3] rounded-[20px] outline-none py-4 text-[#797979] text-[16px] mt-4 placeholder:text-[16px] placeholder:font-normal placeholder:text-[#797979] md:placeholder:pl-2 placeholder:pl-0 md:pl-6 pl-4;
}
